// Google fonts
@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma+2:400,500,600,700,900");

// Colors ///////////////
// common colors
$white: #fff;
$red: #ee696c;
$yellow: #Ffae01;
$brickbrown: #5a0908;
$dark-blue: #0c1023;
$mirage: #141d29;
// b&w colors as placeholders
$blk: #000;
$dark-gray: lighten($blk, 20%);
$med-gray: lighten($blk, 40%);
$light-gray: lighten($blk, 70%);
$lighter-gray: lighten($blk, 90%);
$off-white: lighten($blk, 97%);

// Utility color variables ///////////////
$heading: $dark-gray;
$link: $med-gray;

// Fonts ///////////////
$baloo_font: 'Baloo Tamma 2', cursive;
$poppins: 'Poppins';
$heading_font: $baloo_font;
$body_font: $baloo_font;

// Susy config ///////////////
$susy: (
  columns: 12, // The number of columns in your grid
  gutters: 1/4, // The size of a gutter in relation to a single column
);

// Breakpoints & MQ's ///////////////
$screen: "only screen" !default;
$small-max: 767px !default;
$medium-max: 1023px !default;
$small: $screen max-width $small-max;
$up-sm: $screen $small-max + 1;
$medium: $screen $small-max + 1 $medium-max;
$large: $screen $medium-max + 1;

// EXAMPLE FOR MQ REFERENCES =>

/*
body {
  background: green !important;
  @include breakpoint($small)  { background: orange !important; }
  @include breakpoint($medium) { background: teal !important; }
  @include breakpoint($large)  { background: orchid !important; }
  @include breakpoint($up-sm)  { background: aliceblue !important; }
}
*/

// Example Mixins ///////////////
@mixin opac-color($r, $g, $b, $pertc) {
  background: rgb($r, $g, $b);
  background: rgba($r, $g, $b, $pertc);
}

@mixin region-spacer($color) {
  background: $color;
  padding: 30px;
}

@mixin borderradius($px: 5px) {
  border-radius: $px;
  // background-clip: padding-box;
}

@mixin upscbutton() {
  font-family: Raleway,sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px 28px;
  -webkit-transition: .5s;
  transition: .5s;
  margin-top: .5rem;
  border-radius: 25px;
  display: inline-block;
}

@mixin whitebutton() {
  border: 2px solid rgba(255,255,255,.5);
  color: #fff;
}

// Example Placeholders ///////////////
.no-ul-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  > li {
    display: inline-block;
    list-style-type: none;
    margin: 2px;
  }
}

.tmp-shadow {
  box-shadow: 0 0 2px 0 rgba($med-gray, 1);
}

.tmp-shadow-none {
  box-shadow: none;
}

.blocked-style {
  padding: 20px;
  background: $off-white;
}

.item-list {
  ul {
    list-style-type: none;
  }
}
