#block-frontpagebannerblock,
#block-frontpageapp {
  @include breakpoint($small-max) {
    .banner-image {
      padding-top: 70px;
      img {
        float: right;
      }
    }
    h1 {
      font-weight: 700;
      font-family: 'El Messiri', sans-serif;
    }
  }
}

#block-frontpagegetstartedblock,
#block-frontpagecontact {
  @include breakpoint($small-max) {
    padding: 130px 15px;
    text-align: center;
  }
}

#block-frontpagecontact {
  label {
    display: none;
  }
  @include breakpoint($small-max) {
    div.form-wrapper {
      @include span(4 of 12 split);
    }
    div.form-actions {
      @include span(12 of 12 split);
      display: flex;
      justify-content: center;
    }
  }
}

#block-about {
  padding: 35px 0;
  .academy-name {
    color: $brickbrown;
    font-weight: 600;
  }
  .about-description {
    padding: 5px 10px;
  }
  .about-read-more {
    margin-top:15px;
  }
  a {
    padding: 5px 10px;
    background: #5a0908;
    color: #ffffff;
    border-radius: 0.3rem;
  }
}

.block-block-content {
  .field--type-link {
    a {
      @include upscbutton;
      @include whitebutton;
    }
  }
}

#block-headerblock {
  div.column-last {
    svg {
      font-size: 24px;
      margin-left: 5px;
      margin-top: 5px;
    }
    a {
      color: $white;
    }
  }
}

.latest-news-block-wrapper {
  padding: 35px 0;
  .more-link {
    float: right;
  }
}
