// Header Main Menu
//
// Header menus styling for main nav
//
// Markup: header.twig
//
// Style guide: components.header

.region-header {
  @include span(12);
  background: $brickbrown;
  position: relative;
  color: $white;
}

#block-pagetitle {
  background-color: #FFFFFF !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center center !important;
  z-index: auto;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  color: $white;
  padding: 35px;
  margin-bottom: 35px;
}
