// Header Main Menu
//
// Header menus styling for main nav
//
// Markup: header.twig
//
// Style guide: components.header

.region-header {
  @include span(12);
  background: #5a0908;
  position: relative;
  color: $white;
}
