.main-menu-wrapper {
  @include breakpoint($small-max) {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
  }
}

#primary-menu {
  .responsive-menu-toggle-icon {
    &:before,
    &:after,
    span.icon {
      background: $brickbrown;
    }
  }
  @include breakpoint($small) {
    .responsive-menu-toggle {
      display: block;
    }
  }
}

.mm-slideout {
  background: $white !important;
}
