.quiz-feedback-wrapper {
  background-color: #98FB98;
  padding: 10px;
  border-radius: 1rem;
  margin: 15px 0;
}

.score-wrapper {
  font-size: 1.5rem;
  margin: 10px 0;
}

.quiz-complete-links {
  span {
    margin-right: 1rem;
  }
}
